{% extends 'base.html' %}

{% block title %}
Resume Preview | CareerFlow
{% endblock %}

{% block content %}

<div class="container mt-5">

    <div class="card shadow-lg border-0 p-5">

        <div class="text-center mb-4">
            <h1 class="fw-bold">{{ resume.full_name }}</h1>
            <p class="text-muted">
                {{ resume.email }} |
                {{ resume.phone }}
            </p>
        </div>

        <hr>

        <h4>Professional Summary</h4>
        <p>{{ resume.summary|linebreaks }}</p>

        <h4 class="mt-4">Education</h4>
        <p>{{ resume.education|linebreaks }}</p>

        <h4 class="mt-4">Skills</h4>
        <p>{{ resume.skills|linebreaks }}</p>

        <h4 class="mt-4">Projects</h4>
        <p>{{ resume.projects|linebreaks }}</p>

        <h4 class="mt-4">Experience</h4>
        <p>{{ resume.experience|linebreaks }}</p>

        <h4 class="mt-4">Links</h4>

        <p>
            <strong>LinkedIn:</strong>
            {{ resume.linkedin }}
        </p>

        <p>
            <strong>GitHub:</strong>
            {{ resume.github }}
        </p>

        <div class="text-center mt-5">

            <a href="{% url 'resume' %}"
               class="btn btn-secondary">
                Edit Resume
            </a>

           <a href="{% url 'download_resume_pdf' %}"
                class="btn btn-primary">
                    <i class="bi bi-download"></i>
                    Download PDF
            </a>

        </div>

    </div>

</div>

{% endblock %}